@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* default ocean with light */
        --color-bg: 247 243 245;
        --color-bg-light: 255 255 255;
        --color-bg-dark: 227 220 224;
        --color-bg-vis: 227 220 224;
        --color-text: 10 18 31;
        --color-text-light: 47 47 48;
        --color-text-dark: 0 1 3;
        --color-primary-default: 102 130 255;
        --color-primary-50: 229 234 255;
        --color-primary-100: 204 213 255;
        --color-primary-200: 153 172 255;
        --color-primary-300: 102 130 255;
        --color-primary-400: 51 88 255;
        --color-primary-500: 0 47 255;
        --color-primary-600: 0 37 204;
        --color-primary-700: 0 28 153;
        --color-primary-800: 0 19 102;
        --color-primary-900: 0 9 51;
        --color-primary-950: 0 5 26;
    }

    :root[data-light="light"] {
        --color-bg: 247 243 245;
        --color-bg-light: 255 255 255;
        --color-bg-dark: 227 220 224;
        --color-bg-vis: 227 220 224;
        --color-text: 10 18 31;
        --color-text-light: 47 47 48;
        --color-text-dark: 0 1 3;
    }

    :root[data-light="dark"] {
        --color-bg: 10 18 31;
        --color-bg-light: 47 47 48;
        --color-bg-dark: 0 1 3;
        --color-bg-vis: 47 47 48;
        --color-text: 247 243 245;
        --color-text-light: 255 255 255;
        --color-text-dark: 227 220 224;
    }

    :root[data-theme="crimson"] {
        --color-primary-default: 213 51 42;
        --color-primary-50: 251 235 234;
        --color-primary-100: 247 214 212;
        --color-primary-200: 238 173 170;
        --color-primary-300: 230 132 127;
        --color-primary-400: 221 91 85;
        --color-primary-500: 213 51 42;
        --color-primary-600: 170 40 34;
        --color-primary-700: 128 30 25;
        --color-primary-800: 85 20 17;
        --color-primary-900: 43 10 8;
        --color-primary-950: 21 5 4;
    }

    :root[data-theme="forest"] {
        --color-primary-default: 122 168 36;
        --color-primary-50: 245 251 234;
        --color-primary-100: 234 246 213;
        --color-primary-200: 214 237 171;
        --color-primary-300: 193 228 129;
        --color-primary-400: 173 219 87;
        --color-primary-500: 152 210 45;
        --color-primary-600: 122 168 36;
        --color-primary-700: 91 126 27;
        --color-primary-800: 61 84 18;
        --color-primary-900: 30 42 9;
        --color-primary-950: 15 21 4;
    }

    :root[data-theme="sun"] {
        --color-primary-default: 248 199 109;
        --color-primary-50: 254 246 231;
        --color-primary-100: 253 236 206;
        --color-primary-200: 250 218 158;
        --color-primary-300: 248 199 109;
        --color-primary-400: 246 181 60;
        --color-primary-500: 244 162 11;
        --color-primary-600: 195 130 9;
        --color-primary-700: 146 97 7;
        --color-primary-800: 97 65 5;
        --color-primary-900: 49 32 2;
        --color-primary-950: 24 16 1;
    }

    :root[data-theme="cocoa"] {
        --color-primary-default: 137 67 67;
        --color-primary-50: 247 238 238;
        --color-primary-100: 238 221 221;
        --color-primary-200: 221 187 187;
        --color-primary-300: 205 152 152;
        --color-primary-400: 188 118 118;
        --color-primary-500: 171 84 84;
        --color-primary-600: 137 67 67;
        --color-primary-700: 103 50 50;
        --color-primary-800: 68 34 34;
        --color-primary-900: 34 17 17;
        --color-primary-950: 17 8 8;
    }

    :root[data-theme="dusk"] {
        --color-primary-default: 153 0 150;
        --color-primary-50: 255 229 255;
        --color-primary-100: 255 204 254;
        --color-primary-200: 255 153 253;
        --color-primary-300: 255 102 252;
        --color-primary-400: 255 51 252;
        --color-primary-500: 255 0 251;
        --color-primary-600: 204 0 201;
        --color-primary-700: 153 0 150;
        --color-primary-800: 102 0 100;
        --color-primary-900: 51 0 50;
        --color-primary-950: 26 0 25;
    }

    :root[data-theme="amber"] {
        --color-primary-default: 219 124 36;
        --color-primary-50: 251 242 233;
        --color-primary-100: 248 229 211;
        --color-primary-200: 241 203 167;
        --color-primary-300: 234 177 123;
        --color-primary-400: 226 151 80;
        --color-primary-500: 219 124 36;
        --color-primary-600: 175 100 29;
        --color-primary-700: 132 75 21;
        --color-primary-800: 88 50 14;
        --color-primary-900: 44 25 7;
        --color-primary-950: 22 12 4;
    }

    :root[data-theme="ocean"] {
        --color-primary-default: 102 130 255;
        --color-primary-50: 229 234 255;
        --color-primary-100: 204 213 255;
        --color-primary-200: 153 172 255;
        --color-primary-300: 102 130 255;
        --color-primary-400: 51 88 255;
        --color-primary-500: 0 47 255;
        --color-primary-600: 0 37 204;
        --color-primary-700: 0 28 153;
        --color-primary-800: 0 19 102;
        --color-primary-900: 0 9 51;
        --color-primary-950: 0 5 26;
    }

    :root[data-theme="blossom"] {
        --color-primary-default: 255 102 143;
        --color-primary-50: 255 229 236;
        --color-primary-100: 255 204 218;
        --color-primary-200: 255 153 180;
        --color-primary-300: 255 102 143;
        --color-primary-400: 255 51 105;
        --color-primary-500: 255 0 68;
        --color-primary-600: 204 0 54;
        --color-primary-700: 153 0 41;
        --color-primary-800: 102 0 27;
        --color-primary-900: 51 0 14;
        --color-primary-950: 26 0 7;
    }
}
